body{
    margin:0;
    background-color: cyan;
}

.modalOpener{
    color: white;
    position: relative;
    display: inline-block;
    top:40vh;
    text-align: center;
    margin-left:50px;
    font-family: Baloo Bhai;
    font-size: 4em;
    text-shadow: 4px 4px #58585b;
}

.modalOpener:hover{
    transform: scale(1.2,1.2);
    cursor:pointer;
    
}

#modal{
    position: relative;
    height:80vh;
    width:80vw;
    left:10vw;
    bottom: 10vw;
    background-color: white;
    border-radius: 20px;
    border:10px solid #58585b;
    /*text-align: center;*/
    font-family: Baloo Bhai;
}

.hide{
    display: none;
}
.show{
    background-color: white;
}

.X{
    font-size: 3em;
    display:inline-block;
    width:10px;
    position:absolute;
    right:30px;
    top:20px;
    cursor: pointer;
    width:auto;
    height:auto;
}

#X:hover{
    color: cyan;
}

h3{
    font-size: 4em;
    position: absolute;
    height:80%;
    top:10%;
    /*margin:auto;*/
    width:30%;
    text-align: center;
    left:35%;
}

#invisible{
    width:100vw;
    height:100vh;
    position: fixed;
}